.loading-container{
    position: absolute;
    top:0px;
    left: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
}